In [1]:
import pandas as pd

In [2]:
raw = pd.read_csv("./Project Test/Raw Data Sample.csv")
raw.head()

,sedol,ticker_region,proper_name,currency,Market Value200701,Market Value200702,Market Value200703,Market Value200704,Market Value200705,Market Value200706,...,Net Income201712,Net Income201801,Net Income201802,Net Income201803,Net Income201804,Net Income201805,Net Income201806,Net Income201807,Net Income201808,Net Income201809
0,2000019,AMZN-US,"Amazon.com, Inc.",USD,NaN,NaN,16274.100,NaN,NaN,28253.300,...,1856.000,NaN,NaN,1629.000,NaN,NaN,2534.000,NaN,NaN,2883.000
1,2002305,ABT-US,Abbott Laboratories,USD,NaN,NaN,85952.100,NaN,NaN,82759.000,...,-831.000,NaN,NaN,415.000,NaN,NaN,729.000,NaN,NaN,559.000
2,2002479,AES-US,AES Corporation,USD,NaN,NaN,14354.100,NaN,NaN,14623.200,...,-731.000,NaN,NaN,684.000,NaN,NaN,290.000,NaN,NaN,98.000
3,2003698,ABMD-US,"ABIOMED, Inc.",USD,NaN,NaN,440.447,NaN,NaN,349.715,...,13.446,NaN,NaN,36.847,NaN,NaN,90.066,NaN,NaN,50.127
4,2004185,ANF-US,Abercrombie & Fitch Co. Class A,USD,NaN,7132.0,NaN,NaN,7039.82,NaN,...,NaN,NaN,74.21,NaN,NaN,-42.461,NaN,NaN,-3.853,NaN

In [3]:
#remove columns that are not quarter end
for col in raw.columns:
    month_raw = col[-2:]
    #print(month_raw)
    if (month_raw == "01" or month_raw == "02" or month_raw == "04" or month_raw == "05" or month_raw == "07" or 
        month_raw == "08" or month_raw == "10" or month_raw == "11"):
        raw.drop(columns=[col], inplace = True)
    
raw

,sedol,ticker_region,proper_name,currency,Market Value200703,Market Value200706,Market Value200709,Market Value200712,Market Value200803,Market Value200806,...,Net Income201606,Net Income201609,Net Income201612,Net Income201703,Net Income201706,Net Income201709,Net Income201712,Net Income201803,Net Income201806,Net Income201809
0,2000019,AMZN-US,"Amazon.com, Inc.",USD,16274.100,28253.300,38657.300,38538.200,29732.100,31238.600,...,857.000,252.000,749.000,724.000,197.000,256.000,1856.000,1629.000,2534.000,2883.000
1,2002305,ABT-US,Abbott Laboratories,USD,85952.100,82759.000,82857.500,87027.500,85112.800,81655.700,...,612.000,-329.000,793.000,417.000,282.000,600.000,-831.000,415.000,729.000,559.000
2,2002479,AES-US,AES Corporation,USD,14354.100,14623.200,13403.300,14338.600,11192.700,12919.600,...,-482.000,170.000,-949.000,-24.000,53.000,152.000,-731.000,684.000,290.000,98.000
3,2003698,ABMD-US,"ABIOMED, Inc.",USD,440.447,349.715,404.137,506.699,430.577,597.859,...,12.910,8.875,15.432,14.899,37.374,24.503,13.446,36.847,90.066,50.127
4,2004185,ANF-US,Abercrombie & Fitch Co. Class A,USD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,BZ6TS23,SBAC-US,SBA Communications Corp. Class A,USD,3036.590,3482.640,3722.040,3667.580,3237.450,3813.820,...,32.711,-15.370,5.256,37.598,9.233,49.161,7.660,31.545,-57.391,16.144
864,BZ6VT82,CHTR-US,"Charter Communications, Inc. Class A",USD,0.000,0.000,0.000,0.000,0.000,0.000,...,3067.000,189.000,454.000,155.000,139.000,48.000,9553.000,168.000,273.000,493.000
865,BZBY209,ITT-US,"ITT, Inc.",USD,10984.800,12364.300,12314.000,11933.400,9409.410,11506.300,...,32.800,90.100,25.800,46.000,47.800,86.900,-67.200,101.200,69.700,110.900
866,BZBY210,CRC-US,California Resources Corp,USD,NaN,NaN,NaN,NaN,NaN,NaN,...,-140.000,546.000,-83.000,52.000,-48.000,-133.000,-138.000,-2.000,-82.000,65.000
867,(blank),(blank),(blank),(blank),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
raw_no_blank = raw.dropna(axis = 0, subset = raw.iloc[:,4:len(raw.columns)].columns)
raw_no_blank

,sedol,ticker_region,proper_name,currency,Market Value200703,Market Value200706,Market Value200709,Market Value200712,Market Value200803,Market Value200806,...,Net Income201606,Net Income201609,Net Income201612,Net Income201703,Net Income201706,Net Income201709,Net Income201712,Net Income201803,Net Income201806,Net Income201809
0,2000019,AMZN-US,"Amazon.com, Inc.",USD,16274.100,28253.300,38657.300,38538.200,29732.100,31238.600,...,857.000,252.000,749.000,724.000,197.000,256.000,1856.000,1629.000,2534.000,2883.000
1,2002305,ABT-US,Abbott Laboratories,USD,85952.100,82759.000,82857.500,87027.500,85112.800,81655.700,...,612.000,-329.000,793.000,417.000,282.000,600.000,-831.000,415.000,729.000,559.000
2,2002479,AES-US,AES Corporation,USD,14354.100,14623.200,13403.300,14338.600,11192.700,12919.600,...,-482.000,170.000,-949.000,-24.000,53.000,152.000,-731.000,684.000,290.000,98.000
3,2003698,ABMD-US,"ABIOMED, Inc.",USD,440.447,349.715,404.137,506.699,430.577,597.859,...,12.910,8.875,15.432,14.899,37.374,24.503,13.446,36.847,90.066,50.127
5,2005973,IBM-US,International Business Machines Corporation,USD,139960.000,143183.000,162323.000,149744.000,158142.000,160589.000,...,2505.000,2853.000,4502.000,1748.000,2331.000,2726.000,-1054.000,1679.000,2403.000,2694.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,BZ12WP8,LIN-US,Linde plc,USD,20065.500,23026.400,26460.700,27987.000,26373.800,29684.200,...,399.000,339.000,406.000,389.000,406.000,419.000,33.000,462.000,480.000,461.000
861,BZ19F83,WINMQ-US,"Windstream Holdings, Inc.",USD,7011.540,7046.420,6736.650,5917.590,5345.240,5424.660,...,0.900,-66.800,-87.500,-111.900,-68.800,-101.500,-1835.700,-121.400,-93.700,41.300
863,BZ6TS23,SBAC-US,SBA Communications Corp. Class A,USD,3036.590,3482.640,3722.040,3667.580,3237.450,3813.820,...,32.711,-15.370,5.256,37.598,9.233,49.161,7.660,31.545,-57.391,16.144
864,BZ6VT82,CHTR-US,"Charter Communications, Inc. Class A",USD,0.000,0.000,0.000,0.000,0.000,0.000,...,3067.000,189.000,454.000,155.000,139.000,48.000,9553.000,168.000,273.000,493.000
865,BZBY209,ITT-US,"ITT, Inc.",USD,10984.800,12364.300,12314.000,11933.400,9409.410,11506.300,...,32.800,90.100,25.800,46.000,47.800,86.900,-67.200,101.200,69.700,110.900

In [11]:
raw_cleaned = raw_no_blank[(raw_no_blank != 0).all(1)]
raw_cleaned

,sedol,ticker_region,proper_name,currency,Market Value200703,Market Value200706,Market Value200709,Market Value200712,Market Value200803,Market Value200806,...,Net Income201606,Net Income201609,Net Income201612,Net Income201703,Net Income201706,Net Income201709,Net Income201712,Net Income201803,Net Income201806,Net Income201809
0,2000019,AMZN-US,"Amazon.com, Inc.",USD,16274.100,28253.300,38657.300,38538.200,29732.100,31238.600,...,857.000,252.000,749.000,724.000,197.000,256.000,1856.000,1629.000,2534.000,2883.000
1,2002305,ABT-US,Abbott Laboratories,USD,85952.100,82759.000,82857.500,87027.500,85112.800,81655.700,...,612.000,-329.000,793.000,417.000,282.000,600.000,-831.000,415.000,729.000,559.000
2,2002479,AES-US,AES Corporation,USD,14354.100,14623.200,13403.300,14338.600,11192.700,12919.600,...,-482.000,170.000,-949.000,-24.000,53.000,152.000,-731.000,684.000,290.000,98.000
3,2003698,ABMD-US,"ABIOMED, Inc.",USD,440.447,349.715,404.137,506.699,430.577,597.859,...,12.910,8.875,15.432,14.899,37.374,24.503,13.446,36.847,90.066,50.127
5,2005973,IBM-US,International Business Machines Corporation,USD,139960.000,143183.000,162323.000,149744.000,158142.000,160589.000,...,2505.000,2853.000,4502.000,1748.000,2331.000,2726.000,-1054.000,1679.000,2403.000,2694.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,BZ12TX5,ATGE-US,Adtalem Global Education Inc.,USD,2080.470,2419.880,2631.340,3672.130,2984.570,3827.230,...,-9.969,25.152,14.413,39.859,42.859,12.785,-80.926,39.334,62.806,-9.530
860,BZ12WP8,LIN-US,Linde plc,USD,20065.500,23026.400,26460.700,27987.000,26373.800,29684.200,...,399.000,339.000,406.000,389.000,406.000,419.000,33.000,462.000,480.000,461.000
861,BZ19F83,WINMQ-US,"Windstream Holdings, Inc.",USD,7011.540,7046.420,6736.650,5917.590,5345.240,5424.660,...,0.900,-66.800,-87.500,-111.900,-68.800,-101.500,-1835.700,-121.400,-93.700,41.300
863,BZ6TS23,SBAC-US,SBA Communications Corp. Class A,USD,3036.590,3482.640,3722.040,3667.580,3237.450,3813.820,...,32.711,-15.370,5.256,37.598,9.233,49.161,7.660,31.545,-57.391,16.144
865,BZBY209,ITT-US,"ITT, Inc.",USD,10984.800,12364.300,12314.000,11933.400,9409.410,11506.300,...,32.800,90.100,25.800,46.000,47.800,86.900,-67.200,101.200,69.700,110.900

In [12]:
raw_cleaned.to_csv(r"C:\Users\sharo\BootCamp-Project1-Repo\FinancialRawCleaned.csv", header = True, index = False)